<!DOCTYPE html>
<!-- 引入thymeleaf 命名空间 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="container blog-content-container">
    <h3 th:text="${userModel.title}">子页标题</h3>
    <form action="/users" th:action="@{~/users}" method="POST" th:object="${userModel.user}">
        <input type="hidden" name="id" th:value="*{id}">
        名称：<input type="text" class="form-control" name="name" th:value="*{name}">
        邮箱：<input type="text" class="form-control" name="email" th:value="*{email}">
        <input type="submit" class="btn btn-outline-secondary" value="提交">
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>